body
{
   font-family: 'Merriweather Sans', 'Verdana', sans-serif;
   font-size:16px;
   width:100%;
   margin:0 auto;
}
h1
{
  margin:0;
  padding:0;
}
ul
{
  padding-left:16px;
  padding:0;
  list-style-type: none;
}
.right
{
  text-align:right;
}
#templates
{
  margin:40px 10px 10px 10px;
}
.template
{
  text-align: center;
  width:126px;
  border:1px solid blue;
  padding:3px;
  margin:6px;
  float:left;
  background-color:white;
}
.template:hover
{
  background-color:lightblue;
}
a
{
  color:blue;
}
#left-box
{
  position:fixed;
  margin:0;
  padding:5px;
  top:0;
  left:0;
  width:300px;
  height:100%;
  border-right:2px solid lightblue;
  box-shadow: 2px 2px 2px lightblue;
  z-index:1;
  overflow: auto;
}
#right-box
{
  padding-right: 0;
  position:absolute;
  left:400px;
  z-index:1;
}
#right-wrapper
{
  position: relative;
  display:inline-block;
  text-align: left;
  height:100%;
  width:210mm;
  margin: 0 auto;
  text-align: center;
  z-index:1;
}
.toolbox
{
  position:fixed;
  right:20px;
  top:20px;
  background-color: black;
  display:none;
  padding:10px;
  z-index:200;
}
.toolbox img
{
  margin:5px;
}
.toolbox a{
  display:block;
  border-radius: 3px;
  background-color: transparent;
}
.toolbox a:hover{
  background-color:gray;
}
.page {
  padding-top: 32mm;
  padding-left: 5mm;
  padding-right: 5mm;
  position:relative;
  display:block;
  background-color:white;
  background:url('../images/backgroundwfc.png') repeat-y;
  background-size:100%;
  min-height:280mm;
  width:210mm;
  border:1px solid black;
  box-shadow: 2px 2px 3px black;
  overflow: hidden;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: justify;
}
table {
  margin:10px;padding:0px;
  width:90%;
  box-shadow: 5px 5px 3px #888888;
  border:1px solid #1f5a8b;
  border-collapse: collapse;
  border-spacing: 0px;
  background-color:#adb0b2;
  font-size:12px;
}
th{
  padding:5px;
  background-color:#f68f3d;
  border:1px solid #1f5a8b;
}
td {
  vertical-align:middle;
  border:1px solid #1f5a8b;
  padding:5px;
  color:#000000;
}
#tinymce {
  margin-bottom:10px;
  font-size: 16px;
  background:url('../images/backgroundwfc.png') repeat-y;
  background-size:100%;
  padding-top:32mm;
  padding-bottom: 24mm;
  min-height: 240mm;
  text-align: justify;
}
p
{
  margin:0;
  padding: 0;
}
#editor
{
  width:100%;
  margin:0 auto;
  float:left;
}
.nav h1 a
{
  padding:0 10px 0 0;
  color:black;
  text-decoration: none;
  display:block;
  width:97%;
}
.nav h1 a:hover
{
  background-color: lightblue;
}
.nav h1
{
  margin:0;
  width:100%;
  border-bottom:1px solid blue;
  background-color:gray;
  font-size:26px;
}
ul.list-sites {
  margin:20px 0 20px 0;
}
.list-sites li{
  text-decoration: none;
  padding-left:20px;
}
.list-sites li:hover{
  text-decoration: underline;
}
#profile {
  width:90%;
  margin:0 auto;
  margin-top: 10px;
}
#profile img {
  width:100%;
  height: auto;
  margin:0 auto;
}
#profile img:after{
  clear:both;
}
.box_logo{
  width:30%;
  padding:5px;
  border:1px solid gray;
  float: left;
  border-radius: 5px;
  margin-right: 5px;
  position:relative;
}
.input-group{
  width: 67%;
  margin:5px;
  float:right;
}
.emails-list {
    width:67%;
    float:right;
}
.emails-list .input-group{
  float:left;
  width:87%;
  margin-left: -5px;
}
.emails-list .btn-success {
  width:10%;
  float: right;
  margin:5px;
}
.emails-list .btn-danger {
  cursor: pointer;
}
.plusemail{
  cursor: pointer;
}
#filter
{
  margin-left:20px;
  width:90%;
  margin-top:10px;
}
.del_img
{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background-color: rgba(51,51,51,0.7);
  color:white;
  cursor: pointer;
  text-align:center;
  padding-top:20%;
}
.sidebar-menu{
  position: relative;
  height: 100%;
  background: #2a3542;
  margin-top: 34px;
  z-index: 100;
  position: fixed;
  overflow: both;
}
.main-content {
  margin-top: 34px;
  z-index: 100;
  margin-left: 33%
}
.toolbar {
  z-index:1000;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  background-color:#464646;
  height:34px;
  box-shadow: 3px 3px 3px #464646;
  color:white;
}
.toolbar .separator {
  border-right: 1px solid white;
  height: 30px;
  margin-top: 2px;
}
.toolbar img:hover{
  background-color: black;
}
.toolbar img, .toolbar a{
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;
}
.toolbar a {
  color:white;
  text-decoration: none;
  cursor: pointer;
}
.toolbar a:hover {
  text-shadow: 1px 1px gray;
}
.toolbar .right {
  float: right;
  margin-right: 100px;
  margin-top: 6px;
}
/* SCF stylings */
ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}
ul.sidebar-menu li a {
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.template-toolbar-icon{
    float:left;
    margin:0 5px;
}

.glyphicon-cog {
  font-size:100px;
 -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.mce-i-wfc:before{
  content:"W";
}